.about {
  margin-top: 70px;
}
.about__container {
  padding: 40px;
  display: flex;
  justify-content: space-between;
}
.about__title {
  margin-right: 40px;
}
.title__text {
  font-size: 40px;
  color: var(--color-text);
  padding: 10px;
  display: inline-block;
  width: max-content;
  border-bottom: 5px solid var(--color-primary);
}
.about__description {
  font-size: 20px;
  line-height: 30px;
  letter-spacing: 1px;
  margin-bottom: 20px;
}

@media (max-width: 700px) {
  .about__container {
    display: block;
    padding: 0;
  }
  .title__text {
    font-size: 25px;
  }
  .about__title {
    margin-bottom: 30px;
    margin-right: 0;
    text-align: center;
  }
  .about__description {
    font-size: 16px;
  }
}
