.header {
  background-image: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.7)),
    url('../img/fondo.jpg');
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.header__container-logo {
  text-align: right;
  padding: 20px;
}
.header__logo {
  height: 80px;
}
.header__container-title {
  text-align: left;
  color: #fff;
  width: 50%;
}
.header__title {
  font-size: 80px;
  margin-bottom: 25px;
}
.header__description {
  font-size: 18px;
  line-height: 30px;
  border-left: 3px solid #fff;
  padding: 0 15px;
  margin-bottom: 25px;
}
